# Pass Authorization to PHP (Apache often strips it otherwise).
RewriteEngine On
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

<IfModule mod_cgi.c>
    CGIPassAuth On
</IfModule>
<IfModule mod_cgid.c>
    CGIPassAuth On
</IfModule>
